.gradle
.idea/
*.iml
google_maps_api.xml
build/
app/secret.properties
/secrets.properties
/local.properties
/app/fabric.properties
/app/build
*.apk
.DS_Store
/captures
app/src/debug/
app/src/release/
projectFilesBackup/
