<manifest
    package="pl.temomuko.autostoprace"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".AsrApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NormalStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.launcher.LauncherActivity"/>
        </activity>
        <activity
            android:name=".ui.launcher.LauncherActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ui.post.PostActivity"
            android:label="@string/title_post_location"
            android:theme="@style/AppTheme.NormalStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.teams.TeamsActivity"
            android:label="@string/title_activity_teams">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.schedule.ScheduleActivity"
            android:label="@string/title_activity_schedule">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.phrasebook.PhrasebookActivity"
            android:label="@string/title_activity_phrasebook">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.campus.CampusActivity"
            android:label="@string/title_activity_campus">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.contact.ContactActivity"
            android:label="@string/title_activity_contact">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.about.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NormalStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NormalStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>

        <receiver android:name=".service.GpsStatusChangeReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".service.PostService$NetworkChangeReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.PostService"/>
    </application>

</manifest>
