<manifest
    package="pl.temomuko.autostoprace"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".AsrApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".ui.staticdata.splash.SplashActivity"
            android:theme="@style/Theme.Translucent.Status"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NormalStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.staticdata.launcher.LauncherActivity"/>
        </activity>

        <activity
            android:name=".ui.login.resetpass.ResetPassActivity"
            android:label="@string/title_activity_reset_pass"
            android:theme="@style/AppTheme.NormalStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.login.LoginActivity"/>
        </activity>

        <activity
            android:name=".ui.staticdata.launcher.LauncherActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".ui.post.PostActivity"
            android:label="@string/title_post_location"
            android:theme="@style/AppTheme.NormalStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>

        <activity
            android:name=".ui.teamslocations.TeamsLocationsActivity"
            android:label="@string/title_activity_teams">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>

        <activity
            android:name=".ui.phrasebook.PhrasebookActivity"
            android:label="@string/title_activity_phrasebook">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>

        <activity
            android:name=".ui.staticdata.campus.CampusActivity"
            android:label="@string/title_activity_campus">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>

        <activity
            android:name=".ui.staticdata.contact.ContactActivity"
            android:label="@string/title_activity_contact">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>

        <activity
            android:name=".ui.staticdata.about.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NormalStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NormalStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>

        <receiver android:name=".service.GpsStatusChangeReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".service.AirplaneModeStatusChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".service.LocationSyncService$NetworkChangeReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.LocationSyncService"/>
    </application>
</manifest>
