<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.temomuko.autostoprace">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22"/>

    <application
        android:name=".AsrApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="pl.temomuko.autostoprace.data.local.GlideConfigModule"
            android:value="GlideModule"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_MAPS_KEY"/>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="${crashlyticsApiKey}"/>

        <activity
            android:name=".ui.staticdata.splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Translucent.Status">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NormalStatusBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.staticdata.launcher.LauncherActivity"/>
        </activity>

        <activity
            android:name=".ui.login.resetpass.ResetPassActivity"
            android:label="@string/title_activity_reset_pass"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NormalStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.login.LoginActivity"/>
        </activity>

        <activity
            android:name=".ui.staticdata.launcher.LauncherActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".ui.post.PostActivity"
            android:label="@string/title_post_location"
            android:theme="@style/AppTheme.NormalStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>

        <activity
            android:name=".ui.teamslocationsmap.TeamsLocationsMapActivity"
            android:label="@string/title_activity_teams"
            android:launchMode="singleTask">
            <intent-filter android:label="@string/app_name">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="https"/>
                <data android:host="@string/url_map"/>
                <data android:host="@string/url_map_www"/>
                <data android:pathPattern="/.*"/>

            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>

        <activity
            android:name=".ui.phrasebook.PhrasebookActivity"
            android:label="@string/title_activity_phrasebook"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>

        <activity
            android:name=".ui.staticdata.campus.CampusActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_campus"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Translucent.Status">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>

        <activity
            android:name=".ui.contact.ContactActivity"
            android:label="@string/title_activity_contact"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>

        <activity
            android:name=".ui.staticdata.partners.PartnersActivity"
            android:label="@string/title_activity_partners"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>

        <activity
            android:name=".ui.staticdata.about.AboutActivity"
            android:label="@string/title_activity_about"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NormalStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>

        <activity
            android:name=".ui.staticdata.about.LicensesActivity"
            android:label="@string/title_activity_licenses"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NormalStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.staticdata.about.AboutActivity"/>
        </activity>

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NormalStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>

        <!-- Util activities -->
        <activity
            android:name=".data.local.photo.PhotoShadowActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent"/>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat"/>

        <receiver android:name=".service.receiver.GpsStatusChangeReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".service.receiver.AirplaneModeStatusChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".service.receiver.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".service.LocationSyncService$NetworkChangeReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.LocationSyncService"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="pl.temomuko.autostoprace"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>
</manifest>
